<!--carousel started  -->
     <div class="container containerWidth">
        <div class="carousel slide" id="myCarousel">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                <li class="" data-slide-to="1" data-target="#myCarousel"></li>
                <li class="" data-slide-to="2" data-target="#myCarousel"></li>
                <li class="" data-slide-to="3" data-target="#myCarousel"></li>
                <li class="" data-slide-to="4" data-target="#myCarousel"></li>
                <!--<li class="" data-slide-to="5" data-target="#myCarousel"></li>
                <li class="" data-slide-to="6" data-target="#myCarousel"></li>
                <li class="" data-slide-to="7" data-target="#myCarousel"></li>
                <li class="" data-slide-to="8" data-target="#myCarousel"></li>
                <li class="" data-slide-to="9" data-target="#myCarousel"></li>
                <li class="" data-slide-to="10" data-target="#myCarousel"></li> -->
            </ol>
            <div class="carousel-inner">
                <div class="item active" id="slide1">
                    <div class="carousel-caption">
                        <h4>Title 1</h4>
                        <p>
                            Description of title 1
                        </p>
                    </div>
                </div>
                <div class="item" id="slide2">
                    <div class="carousel-caption">
                        <h4>Title 2</h4>
                        <p>
                            Description of title 2
                        </p>
                    </div>
                </div>
                <div class="item" id="slide3">
                    <div class="carousel-caption">
                        <h4>Title 3</h4>
                        <p>
                            Description of title 3
                        </p>
                    </div>
                </div>
                <div class="item" id="slide4">
                    <div class="carousel-caption">
                        <h4>Title 4</h4>
                        <p>
                            Description of title 4
                        </p>
                    </div>
                </div>
                <!-- <div class="item" id="slide5">
                </div>
                <div class="item" id="slide6">
                </div>
                <div class="item" id="slide7">
                </div>
                <div class="item" id="slide8">
                </div>
                <div class="item" id="slide9">
                </div>
                <div class="item" id="slide10">
                </div> -->
            </div>
            <a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="icon-prev"></span></a>
            <a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="icon-next"></span></a>
        </div>
    </div> 
    <!--carousel ended  -->