    <div class=" example2">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""><img src="images/carrer1.jpg" alt="carrer logo">
                    </a>
                </div>
                <div id="navbar2" class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admission <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Procedure</a></li>
                                <li><a href="#">Registration Form</a></li>
                                <li><a href="#">Criteria</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facilities <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Study Materials</a></li>
                                <li><a href="#">Mock Online Test</a></li>
                                <li><a href="#">Mock Interview</a></li>
                                <li><a href="#">Training</a></li>
                                <li><a href="services.html">PD Classes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Courses <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Regular</a></li>
                                <li><a href="#">Test Series</a></li>
                                <li><a href="#">Other Trainings</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Placement & Result <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Competative Exam Result</a></li>
                                <li><a href="#">Topper List</a></li>
                                <li><a href="#">Selected Student</a></li>
                                <li><a href="portfolio.html">Photo Gallery</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Overview</a></li>
                                <li><a href="#">Mission and Vision</a></li>
                                <li><a href="#">Director's Desk</a></li>
                                <li><a href="#">Vice-Director's Desk</a></li>
                                <li><a href="portfolio.html">Message to Student</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact Us <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Contact Details</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li class=""><a href="#myModal" data-toggle="modal">Log In</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> My Account <strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-user"> </span>My Profile</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-wrench">  </span>Settings</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-off">  </span>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>